@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Uchen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

.memoirs{
  font-family:'Mouse Memoirs',sans-serif !important;
}

.mukta{
  font-family: 'Mukta', sans-serif !important;
}

.barlow{
  font-family: 'Barlow', sans-serif !important;
}

.uchen{
  font-family: 'Uchen', serif !important;
}

.roboto{
  font-family: 'Roboto', sans-serif !important;
}

.ptsans{
  font-family: 'PT Sans', sans-serif;
}

.nav-button:hover > *{
  color: #dc143c;
}